<% 
  variant = local_assigns[:variant] || '' 
  chosen_variant = false
%>
<%= chosen_variant %>

<% if variant.present? %>
  <div data-abex-variant="<%= variant %>">
    <script>
      var ele = document.querySelector('[data-abex-variant="<%= variant %>"]');
      if (ele) {
        var elVariant = ele.dataset.abexVariant;
        var parentEle = ele.parentElement;
        console.log(elVariant, parentEle);
        if (parentEle) {
          var flagVariant = parentEle.dataset.flagVariant;
          console.log(flagVariant);
          console.log(elVariant);
          console.log(flagVariant === elVariant);
          if (flagVariant === elVariant) {
            console.log('ggojgo');
            <% chosen_variant = true %>
          } else {
            <% chosen_variant = false %>
          }
        }
      }
    </script>
    <%= chosen_variant %>
    <% if chosen_variant.present? %>
      <%= yield %>
    <% end %>
  </div>
<% end %>
